.body-chat {
  padding-bottom: 0;
}

.chat_header,
.chat_header a {
  background-color: #a1c0d6;
  color: black;
}

.chat_header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat {
  background-color: #a1c0d6;
  height: 100vh;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.chat .date-divider {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.chat__message {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}

.chat__message--from-me {
  justify-content: flex-end;
}

.chat__message--to-me img {
  margin-left: 5px;
  align-self: flex-start;
}

.chat__message-time {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.chat__message--from-me .chat__message-body {
  background-color: #ffe934;
  margin-left: 5px;
}

.chat__message-body {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: white;
  margin-right: 5px;
  font-size: 13px;
}

.chat__message-center {
  display: flex;
  flex-direction: column;
}

.chat__message--to-me img {
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat__message .chat__message-username {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.type-message {
  width: 100%;
  bottom: 0px;
  position: fixed;
  height: 45px;
  background: #eeeeee;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
}

.type-message .fa-plus-square {
  color: #b4b4b4;
}

.type-message__input {
  width: 92%;
  display: flex;
  align-items: center;
  position: relative;
}

.type-message input {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  border: 1px solid #ebebeb;
}

.type-message__input .fa-smile {
  position: absolute;
  right: 40px;
  color: #b4b4b4;
}
.type-message__input .fa-hashtag {
  position: absolute;
  right: 12px;
  color: #b4b4b4;
}
/*
.type-message__input .record-message {
  color: #523737;
  background-color: #ffe934;
  padding: 9px 11px 9px 11px;
  font-size: 18px;
}
*/
.header__bottom .fa-search {
  padding-right: 5px;
}
