.tab-bar {
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 5px 30px;
  border-top: 1px solid #c1c1c1;
}

.tab-bar .tab-bar__tab {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #c1c1c1;
  transition: transform 0.3s lainear;
}

.tab-bar .tab-bar__tab:hover {
  transform: scale(1.1);
}

.tab-bar .tab-bar__tab--selected {
  color: #523737;
}

.tab-bar .tab-bar__title {
  font-size: 10px;
}

.tab-bar .tab-bar__tab i {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  font-size: 22px;
}
